<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{- partial "head.html" . -}}
		<link rel="stylesheet" href="/style.css">
		<style>
			#content, body {
				display: flex;
				flex-direction: column;
			}
			
			h1 {
				align-self: center;
				text-align: center;
			}
            
			#logo {
				padding: 5px;
				max-height: 100px;
			}
            
			#content {
				max-width: 900px;
			}

			#content h1:nth-of-type(1) {
				margin-top: 0;
			}
		</style>
	</head>
    <body>
			{{- partial "header.html" . -}}
			<div id="content">
			{{- block "main" . }}{{- end }}
			</div>
			{{- partial "footer.html" . -}}
    </body>
</html>
